################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea
/FranksDinerBlazor/Client/bin
/FranksDinerBlazor/Client/obj
/FranksDinerBlazor/Server/bin
/FranksDinerBlazor/Server/obj
/FranksDinerBlazor/Server/FranksDinerBlazor.Server.csproj.user
/FranksDinerBlazor/Shared/bin
/FranksDinerBlazor/Shared/obj
/FranksDinerBlazor/Shared/obj
TerminalFrontend/settings.js
