################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FranksDinerBlazor/Client/bin/Debug/net6.0
/FranksDinerBlazor/Client/obj
/FranksDinerBlazor/Server/bin/Debug/net6.0
/FranksDinerBlazor/Server/obj
/FranksDinerBlazor/Server/FranksDinerBlazor.Server.csproj.user
/FranksDinerBlazor/Shared/bin/Debug/net6.0
/FranksDinerBlazor/Shared/obj/Debug/net6.0
/FranksDinerBlazor/Shared/obj
