body {
    padding: 1rem;
}

/* hide input number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.quantity-input {
    width: 148px !important;
}

.main-container {
    padding-bottom: 60px;
}

:root {
    --currency: "$";
}
.currency::before {
    content: var(--currency) !important;
}